.body{
    background-color: lightyellow;
}
.box1{
    width: 200px;
    height: 200px;
    background-color: pink;
    margin: 20px;
}
.box2{
    width: 200px;
    height: 200px;
    background-color: cyan;
    margin: 20px;
}